<form (ngSubmit)="addVoucher($event)" #voucherReferenceForm="ngForm" fxLayout="column">
	<div class="form-group" fxLayout="column">
		<p>Use a voucher by entering his reference:</p>
		<md-input-container >
			<input mdInput type="text" maxLength="255" class="form-control" id="referenceInput" required placeholder="Voucher reference"
			[(ngModel)]="referenceInput" name="referenceInput" #name="ngModel">
		</md-input-container>				
	</div>
	<button md-raised-button color="primary" type="submit" [disabled]="!voucherReferenceForm.form.valid" id="submitReferenceInputButton">OK</button >
</form>