<md-toolbar class="main-header"><span>New</span></md-toolbar>
<form md-dialog-content class="small-margin-top" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="mobile" placeholder="Mobile" maxlength="9" minlength="9"
               formControlName="mobile" required #mobile>
        <md-hint align="end">{{mobile.value.length}} / 9</md-hint>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="email" name="email" placeholder="Email" maxlength="255" formControlName="email"
               required #email>
        <md-hint align="end">{{email.value.length}} / 255</md-hint>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="username" placeholder="Username" maxlength="255" formControlName="username"
               #username>
        <md-hint align="end">{{username.value.length}} / 255</md-hint>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="password" name="password" placeholder="Password" maxlength="255" formControlName="password"
               required #password>
        <md-hint align="end">{{password.value.length}} / 9</md-hint>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="address" placeholder="Address" maxlength="255" formControlName="address"
               #address>
        <md-hint align="end">{{address.value.length}} / 9</md-hint>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="dni" placeholder="DNI" maxlength="9" minlength="9" formControlName="dni" #dni>
        <md-hint align="end">{{dni.value.length}} / 9</md-hint>
    </md-input-container>
    <div class="form-element-container small-margin-top">
        <md-checkbox name="active" formControlName="active" color="accent" #active>Active</md-checkbox>
    </div>
    <button class="medium-margin-top" md-raised-button type="submit" color="accent"
            [disabled]="!userForm.valid">Create
        <md-icon class="md-24 margin-left">add_circle_outline</md-icon>
    </button>
</form>