<b id="calculatorResult">{{result}}</b>
<b id="currentOperator">{{currentOperator}}</b>
<div fxLayout="row">
  <div fxFlex fxLayout="column">
    <div fxFlex>
      <button id="number1Button" md-raised-button color="primary"  (click)="setValue(1)">1</button>
    </div>
    <div fxFlex>
      <button id="number4Button" md-raised-button color="primary"  (click)="setValue(4)">4</button>
    </div>
    <div fxFlex>
      <button id="number7Button" md-raised-button color="primary"  (click)="setValue(7)">7</button>
    </div> 
    <div fxFlex>
      <button id="multiplicationButton" md-raised-button color="accent" (click)="setOperator('*')" [disabled]="firstValue==''">X</button>
    </div>
  </div>
  <div fxFlex fxLayout="column">
    <div fxFlex>
      <button id="number2Button" md-raised-button color="primary"  (click)="setValue(2)">2</button>
    </div>
    <div fxFlex>
      <button id="number5Button" md-raised-button color="primary"  (click)="setValue(5)">5</button>
    </div>
    <div fxFlex>
      <button id="number8Button" md-raised-button color="primary"  (click)="setValue(8)">8</button>
    </div>
    <div fxFlex>
      <button id="divisionButton" md-raised-button color="accent" (click)="setOperator('/')" [disabled]="firstValue==''">/</button>
    </div>
  </div>
  <div fxFlex fxLayout="column">
    <div>
      <button id="number3Button" md-raised-button color="primary"  (click)="setValue(3)">3</button>
    </div>
    <div>
      <button id="number6Button" md-raised-button color="primary"  (click)="setValue(6)">6</button>
    </div>
    <div>
      <button id="number9Button" md-raised-button color="primary"  (click)="setValue(9)">9</button>
    </div>
    <div>
      <button id="calculateButton" md-raised-button color="accent" (click)="calculate()" [disabled]="secondValue==''">=</button>
    </div>
  </div>
  <div fxFlex fxLayout="column">
    <div>
      <button id="decimalsButton" md-raised-button color="accent" (click)="setDecimals()" [disabled]="firstValue==''">.</button>
    </div>
    <div>
      <button id="sumButton" md-raised-button color="accent" (click)="setOperator('+')" [disabled]="firstValue==''">+</button>
    </div>
    <div>
      <button id="diffButton" md-raised-button color="accent" (click)="setOperator('-')" [disabled]="firstValue==''">-</button>
    </div>
    <div >
      <button id="resetButton" md-raised-button color="warn" (click)="reset()">AC</button>
    </div>
  </div>
</div>
