<md-toolbar class="main-header"><span>Edit Shopping</span></md-toolbar>
<form md-dialog-content class="small-margin-top" #shoppingForm="ngForm" (ngSubmit)="onSubmit()">
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="code" placeholder="Code" value="{{shopping.code}}" readonly>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="number" name="amount" placeholder="Amount" [ngModel]="shopping.amount"
               (ngModelChange)="updatePrice($event)" required #amount>
        <md-hint align="end">{{amount.value.length}} / 255</md-hint>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="discount" placeholder="Discount" value="{{shopping.discount}}" readonly>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="price" placeholder="Price" [(ngModel)]="shopping.price" readonly>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="description" placeholder="Description" value="{{shopping.description}}"
               readonly>
    </md-input-container>
    <md-input-container class="form-element-container">
        <input mdInput type="text" name="state" placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl" forb
               [(ngModel)]="shopping.state">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let state of filteredStates | async" [value]="state">
            {{ state }}
        </md-option>
    </md-autocomplete>
    <button class="medium-margin-top" md-raised-button type="submit" color="accent"
            [disabled]="!shoppingForm.form.valid">Edit
        <md-icon class="md-24 margin-left">edit</md-icon>
    </button>
</form>