<div [fxLayout]="row">
  <div fxFlex="50">
    <h2>Cart</h2>
  </div>
  <div fxFlex="50">
    <button md-mini-fab color="warn" mdTooltip="Clear" mdTooltipPosition="below" (click)="clearCart()" [disabled]="cartProducts.length==0" id="clearCartButton">
      <md-icon>clear</md-icon>
    </button>
    <button id="openCalculatorButton" md-mini-fab color="primary" mdTooltip="Open calculator" mdTooltipPosition="below" (click)="openCalculator()">
      <md-icon>keyboard</md-icon>
    </button>
  </div>
</div>
<ngx-datatable
class="material"
[messages]="{emptyMessage: 'The shopping cart is empty'}"
[rowHeight]="'auto'"
[columnMode]="'flex'"
[rows]="cartProducts"
[reorderable]="false"
[columns]="columns">
<ngx-datatable-column name="Description" [flexGrow]="3">
  <ng-template let-value="value" ngx-datatable-cell-template>
    {{value}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Retail price" [flexGrow]="2">
 <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  {{row.retailPrice}}
</ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Amount" [flexGrow]="2">
  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
    <input mdInput type="number" step="1" min="1" (blur)="updateProduct(row, $event, 'amount')" [value]="value"/>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Discount" [flexGrow]="2">
  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
    <input mdInput type="number" step="0.01" min="0.00" max="100.00" (blur)="updateProduct(row, $event, 'discount')" [value]="value"/>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Delivered" [flexGrow]="2">
  <ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
    <md-checkbox (change)="updateProduct(row, $event, 'delivered')" [checked]="value" ></md-checkbox>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Delete" [flexGrow]="2">
  <ng-template ngx-datatable-cell-template let-row="row">
    <button md-icon-button (click)="removeFromCart(row)" mdTooltip="Delete from cart" mdTooltipPosition="left">
      <md-icon class="md-24" color="warn">delete</md-icon>
    </button>
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>
<div >
  <p>Total: <b id="totalPrice">{{totalPrice | currency}}</b></p>
</div>
<div fxLayout="row" fxLayout.xs="column">
  <form (ngSubmit)="onSubmit('cartForm', $event)" #cartForm="ngForm" fxFlex="90" >
    <div class="form-group">
      Add by code: 
      <md-input-container >
        <input mdInput type="text" class="form-control" id="codeInput"
        required
        [(ngModel)]="codeInput" name="codeInput"
        #name="ngModel">
      </md-input-container>
      <button md-raised-button color="primary" type="submit" [disabled]="!cartForm.form.valid" id="submitCodeInputButton">Submit</button>
    </div>
  </form>
  <div fxFlex>
    <button md-raised-button color="accent" (click)="checkout()" [disabled]="cartProducts.length==0">Check out</button>
  </div>
</div>